
@{
    ViewBag.Title = "HomePage";
    Layout = "~/Views/Shared/Serve_InnerLayout.cshtml";
}

<h2>HomePage</h2>

Welcome to our website. WeServe is a service oriented project which is aimed at serving common people.
